<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="JuegoAhorcadoEntities"
			 connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source=DESKTOP-HKQ7CK7\SQLEXPRESS;
         initial catalog=JuegoAhorcado;
         integrated security=True;
         MultipleActiveResultSets=True;
         TrustServerCertificate=True&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="LargeNetTcpBinding"
						 maxBufferSize="2147483647"
						 maxReceivedMessageSize="2147483647"
						 sendTimeout="00:15:00"
						 receiveTimeout="00:05:00">
					<security mode="None" />
					<readerQuotas maxDepth="2147483647"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="Servicios.ServicioPrincipal" behaviorConfiguration="mexBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.100.159:8082/Service" />
						<add baseAddress="net.tcp://192.168.100.159:8081/Service" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="netTcpBinding"
						  contract="Servicios.IGestorPrincipal"
						  bindingConfiguration="LargeNetTcpBinding" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>